.Display-none{
    display: none !important;
}
body{
display: flex;
justify-content: center;
align-items: center;
background-color:  #7FFF5B;
width: 100%;
;
}
.Home{
    background-color: aliceblue;
    width: 80vw;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border: 4px solid #000 ;
    .Tutorial{
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        a:first-child{
            text-align: center;
            line-height: 90px;
            font-size: 64px;
            color: black;
        }

    }
    .Player{
        display: flex;
        flex-direction: column;
        .PlayerReady{
            display: flex;
            flex-direction: column;
            a{
                color: black;
                font-size: 32px;
            }
        }
        .Ready{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            a{
                font-size: 32px;
                color: red;
            }
        }
    }
    button{
        max-width: 200px;
        height: 50px;
    }
    .PlayerInfo{
        display: flex;
        flex-direction: column;
        width: 600px;
        // height: 400px;
        background-color: #FF90FF;
        justify-content: space-around;
        align-items: center;
        border-radius: 16px;
        a{
            font-size: 32px;
            color: black;
            padding: 8px 0;
        }
        input{
            width: 400px;
            height: 30px;
            background-color: aliceblue;
            color: black;
            font-size: 24px;

        }
        button{
            margin: 8px 0;
            width: 200px;
        }
    }
    .RoundPLay{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color: black;
            font-size: 32px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        input{
            width: 200px;
            height: 30px;
            background-color: aliceblue;
            color: black;
            font-size: 24px;
            margin-bottom: 8px;
        }
        button{
            width: 200px;
            margin-bottom: 16px;
        }
    }
}