.yes{
    background-color: red !important;
    color: aqua;
}
.no{
    color: brown;
    background-color: aquamarine !important;
}
.playRound{
    a{
        font-size: 32px;
    }
}
.question{
    a:first-child{
        font-size: 24px;
    }
}