.true{

}
.false{
    display: none;
}
.player{
    a{
        font-size: 32px;
        color: black;
    }
    .namePlayer{
        font-size: 32px;
        color: black;
        padding-left: 10px;
    }
}

.Answer{
    background-color: aliceblue;
    width: 80vw;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border: 4px solid #000 ;
    .player{
        a{
            font-size: 32px;
        }
    }
    .allRound{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .round{
            width: 300px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            margin: 8px;
            padding: 8px;
            border: 2px solid #000 ;

            a{
                font-size: 24px;
                color: black;
            }
            .playTrue{
                a{
                    padding-right: 10px;
                }
            }
        }
    }
    .button{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            width: 150px;
        }
    }
}